<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        
        @ViewBag.InfoPartido.idPartido
       <ol>
        <li><p>@ViewBag.InfoPartido.Nombre </p></li>
        <li><p>@ViewBag.InfoPartido.Logo </p></li>
        <li><p>@ViewBag.InfoPartido.SitioWeb </p></li>
        <li><p>@ViewBag.InfoPartido.FechaFundacion </p></li>
        <li><p>@ViewBag.InfoPartido.CantidadDiputados </p></li>
        <li><p>@ViewBag.InfoPartido.CantidadSenadores </p></li>
       </ol>
       </h2>
      
</body>
</html>