<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Partidoinfo">
     <ol>
        <h2>@ViewBag.InfoPartido.Nombre </h2>
        <p>ID del partido: @ViewBag.InfoPartido.IdPartido</p>
        <img src="~/img/@ViewBag.InfoPartido.Logo" width="300" height="auto">
        <li><p><a href=@ViewBag.InfoPartido.SitioWeb>Pagina juntos por el cambio </a> </p></li>
        <li><p>FECHA DE CREACION @ViewBag.InfoPartido.FechaFundacion.ToShortDateString() </p></li>
        <li><p>CANTIDAD DE DIPUTADOS @ViewBag.InfoPartido.CantidadDiputados </p></li>
        <li><p>CANTIDAD DE SENADORES @ViewBag.InfoPartido.CantidadSenadores </p></li>
        <li><p><a href= '@Url.Action("AgregarCandidato", new {IdPartido = @ViewBag.InfoPartido.IdPartido})'>Agregar Candidato</a></p></li>
     </ol>
    @foreach (var item in ViewBag.ListaCandidatos)
    {
        @item.Nombre
        @item.Apellido
        <a href='@Url.Action("VerDetalleCandidato", new{idCandidato = @item.IdCandidato})'>Ver detalle candidato</a>
    }
    </div>
</body>

</html>