@model Candidato

@{
    ViewData["Title"] = "Detalle de Candidato";
    Layout = "_Layout";
}

<h1>@Model.Nombre</h1>

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Model.Foto" class="card-img" alt="@Model.Nombre">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Información del Candidato</h5>
                <ul class="list-group">
                    <li class="list-group-item">Apellido: @Model.Apellido</li>
                    <li class="list-group-item">Fecha de Nacimiento: @Model.FechaNacimiento.ToString("dd/MM/yyyy")</li>
                    <li class="list-group-item">Postulación: @Model.Postulacion</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("VerDetallePartido", "Home", new { idPartido = Model.IdPartido })" class="btn btn-primary">Volver al Partido</a>
