@model Candidato

@{
    ViewData["Title"] = "Detalle de Candidato";
    Layout = "_Layout";
}

<h1>@ViewBag.Nombre</h1>
<div class="Partidoinfo">
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@ViewBag.Foto" class="card-img" alt="@ViewBag.Nombre">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">Información del Candidato</h2>
                <ol class="list-group">
                    Apellido: @ViewBag.VerInfoCandidato.Apellido
                    Fecha de Nacimiento: @ViewBag.VerInfoCandidato.FechaNacimiento.ToShortDateString()
                    Postulación: @ViewBag.VerInfoCandidato.Postulacion
                </ol>
            </div>
        </div>
    </div>
</div>
</div>

<a href='@Url.Action("EliminarCandidato", new {idCandidato = @ViewBag.IdCandidato, idPartido = @ViewBag.IdPartido})'>Borrar</a>
<a href='@Url.Action("VerDetallePartido", "Home", new { idPartido = ViewBag.IdPartido })' class="btn btn-primary">Volver al Partido</a>
